* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  user-select: none;
  cursor: pointer;
  text-align: center;
  height: 100vh;
}

.status {
  font-size: 10vw;
  height: 100vh;
  line-height: 100vh;
}

.instructions {
  position: absolute;
  bottom: 2em;
  left: 2em;
  font-weight: 500;
}

canvas {
  position: absolute;
  bottom: 2em;
  right: 2em;
  mix-blend-mode: multiply;
}
